<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <title th:text="${titulo}"></title>
</head>

<body>
    <section class="section">
        <div class="container">
            <header>
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="https://bulma.io">
                            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                        </a>

                        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                            data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>

                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item">
                                Home
                            </a>

                            <a class="navbar-item" th:href="@{/form}">
                                Agregar Usuario
                            </a>

                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                    More
                                </a>

                                <div class="navbar-dropdown">
                                    <a class="navbar-item">
                                        About
                                    </a>
                                    <a class="navbar-item">
                                        Jobs
                                    </a>
                                    <a class="navbar-item">
                                        Contact
                                    </a>
                                    <hr class="navbar-divider">
                                    <a class="navbar-item">
                                        Report an issue
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a class="button is-primary">
                                        <strong>Sign up</strong>
                                    </a>
                                    <a class="button is-light">
                                        Log in
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <section class="hero is-dark">
                        <div class="hero-body">
                          <div class="container">
                            <h1 th:text="${titulo}" class="title"></h1>
                            <h2 class="subtitle">
                              Lista de Usuarios de esta Web
                            </h2>
                          </div>
                        </div>
                    </section>
            </header>
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> Nombre </th>
                        <th> Apellido </th>
                        <th> Email </th>
                        <th> Fecha </th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente: ${clientes}">
                        <td th:text="${cliente.id}"></td>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.apellido}"></td>
                        <td th:text="${cliente.email}"></td>
                        <td th:text="${cliente.createdAt}"></td>
                        <td><a class="button is-warning" th:href="@{/form/} + ${cliente.id}" th:text="Editar"></a></td>
                        <td><a class="button is-danger" th:href="@{/eliminar/} + ${cliente.id}" th:text="Eliminar" onclick="return confirm('Estas seguro que quieres eliminar ??');"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>